body {
  font-size: 18px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.header {
  display: flex;
  margin-left: 9.5%;
  margin-top: 1%;
}

.logo {
  font-size: large;
  background: linear-gradient(to right, #CA0B7D 46.5%, #EF6262 65.59%, rgba(230, 11, 11, 0.88), #0085FF 40.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* .drp {
  margin-left: 80px;
  margin-top: 10px;
} */

.drp {
  /* margin-right: 20px;
  height: 30px; */
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
}



#dropdownMenuButton1,
#dropdownMenuButton2 {
  border: none;
  font-size: 20px;
  margin-right: 43px;
}

.btn-primary {
  margin-left: 60px;
}

.icon {
  margin-left: 40%;
  margin-top: 20px;
}

.icon1 {
  width: 30px;
  height: 30px;
  margin-left: 80px;
}

.icon2 {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

.project {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-button {
  background-color: #0052cc;
  color: white;
  border: none;
  border-radius: 4px;
  border-radius: 3px;
  padding: 8px 15px;
  cursor: pointer;
  width: 155px;
}

tr {
  margin-bottom: 10px; /* Adjust the spacing as needed */
}

tr:nth-child(2) {
  margin-bottom: 10px; /* Adjust the spacing as needed */
}

table {
  margin-top: 10px;
  width: 100%;
}

th {
  width: 45%;
}

.table td {
  color: rgb(26, 26, 210);
}

#crt {
  width: 150px;
  height: 30px;
}

.pagination {
  display: flex;
  align-items: center;
}

.icon-chevron {
  margin-right: 5px;
}

.pagination-number {
  padding: 5px 5px;
  background-color: #8fc7fb;
  border: 1px solid #8fc7fb;
  border-radius: 3px;
  width: 20px;
  height: 25px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.icon-chevron:hover {
  color: #007bff;
  cursor: pointer;
}

.icon-chevron {
  margin-right: -3px !important;
}

.page-number {
  margin-left: 3px !important;
}
